.card {
    flex-direction: row;
    width: 100%;
}

.card-body {
    padding: 1rem 6rem;
}

.card-img-top {
    width: 221px;
    height: 221px;
    margin-left: 2em;
}

@media only screen and (max-width: 991.98px) {
    .card-text p {
        font-size: 10px;
    }
    .card-img-top {
        width: 204px;
        height: 204px;
    }
    .card-body {
        padding: 0.5em 1em 0.5em 2em;
    }
}

@media only screen and (max-width: 1470px ){
    .card-img-top{
        width: 221px;
        height: 221px;
    }
}

@media only screen and (max-width: 1200px) {
    .card-img-top {
        width: 176px;
        height: 176px;
    }
    .card-text p {
        font-size: 10px;
    }

    .card-body {
        padding: 1em 2em;
    }
}

@media only screen and  (max-width: 575px) {
    .card {
        flex-direction: column;
        align-items: center;
        width: 90%;
    }
    .card-img-top{
        margin: 0px;
    }
}

@media only screen and (max-width: 350px ){
    .card-img-top{
        width: 135px;
        height: 135px;
    }
}