.title {
    font-family: 'Courier New', Courier, monospace;
    font-size: 29px;
    color: rgb(75, 75, 75);
}

@media only screen and (max-width: 570px) {
    .title {
        font-size: 23px;
        margin-left: 10px;
    }
}